body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

input {
  max-width: 500px;
  padding: 10px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246,246,239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

.form-container__content {
  max-width: 500px;
  min-height: 320px;
  padding-top: 0;
  padding-left: 0;
  line-height: 1em;
}
.mb2 {
  min-width: 50%;
}

.form-container {
  margin-left: 25%;
}

.header-container {
  text-decoration: none;
  padding: 10px;
  font-size: 48px;
  border-bottom-style: dotted;
  align-content: center;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
ul:visited {
  list-style-type: none;
  text-decoration: none;
}
.sidebar-container {
  display: block;
  float: left;
  top: 50%;
  text-decoration: none;
  padding: 10px;
  border: 0px 1px black;
  margin-bottom: 10px;
}

.posts-container {
  padding: 25px;
}

.posts-container a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.posts-container h2 {
  color: purple;
}

.calendar-container {
  margin-top: 10px;
  padding: 25px;
}
